<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1468</integer>
    <key>capHeight</key>
    <integer>1407</integer>
    <key>copyright</key>
    <string>© 2020, Jules Durand</string>
    <key>descender</key>
    <integer>-410</integer>
    <key>familyName</key>
    <string>Sneaky</string>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2019/03/28 17:46:55</string>
    <key>openTypeHheaAscender</key>
    <integer>1890</integer>
    <key>openTypeHheaDescender</key>
    <integer>-570</integer>
    <key>openTypeHheaLineGap</key>
    <integer>160</integer>
    <key>openTypeNameDesigner</key>
    <string>JulesDurand</string>
    <key>openTypeNameDesignerURL</key>
    <string>https://jules-durand.fr</string>
    <key>openTypeNameLicense</key>
    <string>SIL Open Font License</string>
    <key>openTypeNameLicenseURL</key>
    <string>https://scripts.sil.org/OFL_web</string>
    <key>openTypeNamePreferredSubfamilyName</key>
    <string>Times</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1890</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-570</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>160</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
    </array>
    <key>openTypeOS2VendorID</key>
    <string>CLT</string>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1890</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>620</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-15</integer>
      <integer>0</integer>
      <integer>950</integer>
      <integer>974</integer>
      <integer>1407</integer>
      <integer>1439</integer>
      <integer>1468</integer>
      <integer>1484</integer>
    </array>
    <key>postscriptFontName</key>
    <string>Sneaky-Times</string>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-440</integer>
      <integer>-410</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>1152</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>1407</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-886</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>102</integer>
    <key>styleMapFamilyName</key>
    <string>Sneaky Times</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Times</string>
    <key>unitsPerEm</key>
    <integer>2048</integer>
    <key>versionMajor</key>
    <integer>4</integer>
    <key>versionMinor</key>
    <integer>2</integer>
    <key>xHeight</key>
    <integer>950</integer>
  </dict>
</plist>
