<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>C</key>
      <integer>-190</integer>
      <key>G</key>
      <integer>-190</integer>
      <key>O</key>
      <integer>-190</integer>
      <key>Q</key>
      <integer>-190</integer>
      <key>T</key>
      <integer>-190</integer>
      <key>U</key>
      <integer>-200</integer>
      <key>V</key>
      <integer>-400</integer>
      <key>W</key>
      <integer>-400</integer>
      <key>Y</key>
      <integer>-400</integer>
    </dict>
    <key>B</key>
    <dict>
      <key>A</key>
      <integer>-120</integer>
      <key>C</key>
      <integer>-90</integer>
      <key>O</key>
      <integer>-120</integer>
    </dict>
    <key>C</key>
    <dict>
      <key>A</key>
      <integer>-150</integer>
    </dict>
    <key>D</key>
    <dict>
      <key>A</key>
      <integer>-150</integer>
      <key>E</key>
      <integer>-120</integer>
      <key>O</key>
      <integer>-20</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>G</key>
      <integer>-120</integer>
      <key>O</key>
      <integer>-120</integer>
    </dict>
    <key>G</key>
    <dict>
      <key>A</key>
      <integer>-120</integer>
      <key>H</key>
      <integer>-120</integer>
    </dict>
    <key>H</key>
    <dict>
      <key>O</key>
      <integer>-120</integer>
      <key>a</key>
      <integer>-80</integer>
      <key>e</key>
      <integer>-120</integer>
      <key>g</key>
      <integer>-120</integer>
      <key>j</key>
      <integer>-120</integer>
      <key>o</key>
      <integer>-120</integer>
      <key>v</key>
      <integer>-120</integer>
      <key>w</key>
      <integer>-120</integer>
      <key>y</key>
      <integer>-120</integer>
    </dict>
    <key>I</key>
    <dict>
      <key>O</key>
      <integer>-120</integer>
    </dict>
    <key>J</key>
    <dict>
      <key>A</key>
      <integer>-190</integer>
      <key>O</key>
      <integer>-120</integer>
    </dict>
    <key>K</key>
    <dict>
      <key>O</key>
      <integer>-250</integer>
    </dict>
    <key>L</key>
    <dict>
      <key>O</key>
      <integer>-120</integer>
    </dict>
    <key>M</key>
    <dict>
      <key>O</key>
      <integer>-120</integer>
    </dict>
    <key>N</key>
    <dict>
      <key>A</key>
      <integer>-150</integer>
      <key>O</key>
      <integer>-120</integer>
    </dict>
    <key>O</key>
    <dict>
      <key>A</key>
      <integer>-190</integer>
      <key>B</key>
      <integer>-120</integer>
      <key>C</key>
      <integer>-20</integer>
      <key>D</key>
      <integer>-120</integer>
      <key>E</key>
      <integer>-120</integer>
      <key>F</key>
      <integer>-120</integer>
      <key>G</key>
      <integer>-20</integer>
      <key>H</key>
      <integer>-120</integer>
      <key>I</key>
      <integer>-120</integer>
      <key>J</key>
      <integer>-120</integer>
      <key>K</key>
      <integer>-120</integer>
      <key>L</key>
      <integer>-120</integer>
      <key>M</key>
      <integer>-120</integer>
      <key>N</key>
      <integer>-120</integer>
      <key>P</key>
      <integer>-120</integer>
      <key>R</key>
      <integer>-120</integer>
      <key>S</key>
      <integer>-120</integer>
      <key>T</key>
      <integer>-120</integer>
      <key>U</key>
      <integer>-120</integer>
      <key>V</key>
      <integer>-220</integer>
      <key>W</key>
      <integer>-220</integer>
      <key>X</key>
      <integer>-220</integer>
      <key>Y</key>
      <integer>-220</integer>
      <key>Z</key>
      <integer>-120</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>A</key>
      <integer>-150</integer>
    </dict>
    <key>Q</key>
    <dict>
      <key>A</key>
      <integer>-120</integer>
      <key>R</key>
      <integer>-120</integer>
    </dict>
    <key>R</key>
    <dict>
      <key>O</key>
      <integer>-220</integer>
    </dict>
    <key>T</key>
    <dict>
      <key>A</key>
      <integer>-200</integer>
      <key>O</key>
      <integer>-120</integer>
    </dict>
    <key>U</key>
    <dict>
      <key>A</key>
      <integer>-200</integer>
      <key>O</key>
      <integer>-120</integer>
    </dict>
    <key>V</key>
    <dict>
      <key>A</key>
      <integer>-400</integer>
      <key>O</key>
      <integer>-220</integer>
    </dict>
    <key>W</key>
    <dict>
      <key>A</key>
      <integer>-400</integer>
      <key>O</key>
      <integer>-220</integer>
    </dict>
    <key>X</key>
    <dict>
      <key>O</key>
      <integer>-220</integer>
    </dict>
    <key>Y</key>
    <dict>
      <key>A</key>
      <integer>-400</integer>
      <key>Agrave</key>
      <integer>-400</integer>
      <key>O</key>
      <integer>-220</integer>
      <key>Z</key>
      <integer>-100</integer>
    </dict>
    <key>a</key>
    <dict>
      <key>H</key>
      <integer>-80</integer>
      <key>b</key>
      <integer>-90</integer>
      <key>h</key>
      <integer>-50</integer>
    </dict>
    <key>b</key>
    <dict>
      <key>h</key>
      <integer>-100</integer>
    </dict>
    <key>c</key>
    <dict>
      <key>d</key>
      <integer>-20</integer>
      <key>h</key>
      <integer>-90</integer>
      <key>n</key>
      <integer>-80</integer>
    </dict>
    <key>d</key>
    <dict>
      <key>e</key>
      <integer>-50</integer>
      <key>h</key>
      <integer>-50</integer>
      <key>n</key>
      <integer>-40</integer>
    </dict>
    <key>e</key>
    <dict>
      <key>H</key>
      <integer>-120</integer>
      <key>f</key>
      <integer>-80</integer>
      <key>h</key>
      <integer>-80</integer>
      <key>n</key>
      <integer>-90</integer>
    </dict>
    <key>f</key>
    <dict>
      <key>g</key>
      <integer>-100</integer>
      <key>h</key>
      <integer>90</integer>
      <key>n</key>
      <integer>-90</integer>
    </dict>
    <key>g</key>
    <dict>
      <key>h</key>
      <integer>-30</integer>
    </dict>
    <key>h</key>
    <dict>
      <key>b</key>
      <integer>-100</integer>
      <key>c</key>
      <integer>-80</integer>
      <key>d</key>
      <integer>-80</integer>
      <key>e</key>
      <integer>-90</integer>
      <key>g</key>
      <integer>-90</integer>
      <key>o</key>
      <integer>-120</integer>
      <key>p</key>
      <integer>-80</integer>
      <key>q</key>
      <integer>-80</integer>
      <key>t</key>
      <integer>-80</integer>
      <key>u</key>
      <integer>-100</integer>
      <key>v</key>
      <integer>-120</integer>
      <key>w</key>
      <integer>-100</integer>
      <key>y</key>
      <integer>-100</integer>
    </dict>
    <key>j</key>
    <dict>
      <key>H</key>
      <integer>-120</integer>
      <key>h</key>
      <integer>-50</integer>
      <key>k</key>
      <integer>-90</integer>
    </dict>
    <key>n</key>
    <dict>
      <key>a</key>
      <integer>-20</integer>
      <key>b</key>
      <integer>-90</integer>
      <key>c</key>
      <integer>-40</integer>
      <key>d</key>
      <integer>-80</integer>
      <key>e</key>
      <integer>-90</integer>
      <key>g</key>
      <integer>-40</integer>
      <key>j</key>
      <integer>-90</integer>
      <key>o</key>
      <integer>-90</integer>
      <key>p</key>
      <integer>-90</integer>
      <key>q</key>
      <integer>-70</integer>
      <key>t</key>
      <integer>-80</integer>
      <key>u</key>
      <integer>-80</integer>
      <key>v</key>
      <integer>-100</integer>
      <key>w</key>
      <integer>-100</integer>
      <key>y</key>
      <integer>-100</integer>
    </dict>
    <key>o</key>
    <dict>
      <key>H</key>
      <integer>-120</integer>
      <key>h</key>
      <integer>-130</integer>
      <key>n</key>
      <integer>-50</integer>
      <key>o</key>
      <integer>-80</integer>
      <key>p</key>
      <integer>-90</integer>
    </dict>
    <key>p</key>
    <dict>
      <key>h</key>
      <integer>-80</integer>
      <key>n</key>
      <integer>-50</integer>
    </dict>
    <key>q</key>
    <dict>
      <key>h</key>
      <integer>-90</integer>
      <key>n</key>
      <integer>-70</integer>
      <key>r</key>
      <integer>-80</integer>
    </dict>
    <key>r</key>
    <dict>
      <key>H</key>
      <integer>-120</integer>
      <key>h</key>
      <integer>-60</integer>
    </dict>
    <key>s</key>
    <dict>
      <key>h</key>
      <integer>-60</integer>
      <key>t</key>
      <integer>-60</integer>
    </dict>
    <key>t</key>
    <dict>
      <key>h</key>
      <integer>-90</integer>
      <key>n</key>
      <integer>-40</integer>
    </dict>
    <key>u</key>
    <dict>
      <key>h</key>
      <integer>-50</integer>
      <key>v</key>
      <integer>-90</integer>
    </dict>
    <key>v</key>
    <dict>
      <key>H</key>
      <integer>-120</integer>
      <key>h</key>
      <integer>-50</integer>
    </dict>
    <key>w</key>
    <dict>
      <key>H</key>
      <integer>-120</integer>
      <key>h</key>
      <integer>-50</integer>
    </dict>
    <key>y</key>
    <dict>
      <key>H</key>
      <integer>-120</integer>
      <key>h</key>
      <integer>-90</integer>
    </dict>
  </dict>
</plist>
